# RPC Endpoint
N3_JSON_RPC=http://127.0.0.1:40332

# Wallets
WALLET_FILEPATH_PERSONAL=wallets/personal.json
WALLET_PASSWORD_PERSONAL=

WALLET_FILEPATH_DEPLOYER=wallets/deployer.json
WALLET_PASSWORD_DEPLOYER=

WALLET_FILEPATH_OWNER=wallets/owner.json
WALLET_PASSWORD_OWNER=

WALLET_FILEPATH_GOVERNOR=wallets/governor.json
WALLET_PASSWORD_GOVERNOR=

# Contract Addresses
BRIDGE_HASH=0x
MESSAGE_BRIDGE_HASH=0x

# Pausing/Unpausing
PAUSE_TOKEN_HASH=0x
UNPAUSE_TOKEN_HASH=0x

# Role Addresses and Validator Public Keys
ROLE_OWNER_ADDRESS=N
ROLE_RELAYER_ADDRESS=N
ROLE_GOVERNOR_ADDRESS=N
ROLE_SECURITY_GUARD_ADDRESS=N
ROLE_VALIDATOR_01_PUBLIC_KEY=
ROLE_VALIDATOR_02_PUBLIC_KEY=
ROLE_VALIDATOR_03_PUBLIC_KEY=
ROLE_VALIDATOR_04_PUBLIC_KEY=
ROLE_VALIDATOR_05_PUBLIC_KEY=
ROLE_VALIDATOR_06_PUBLIC_KEY=
ROLE_VALIDATOR_07_PUBLIC_KEY=

# Deployment - Management
MANAGEMENT_CONTRACT_NAME=BridgeManagement
MANAGEMENT_NUMBER_OF_VALIDATORS=
MANAGEMENT_VALIDATOR_THRESHOLD=

# Deployment - Bridge
BRIDGE_CONTRACT_NAME=Bridge
LINKED_CHAIN_ID=

# Deployment - Message Bridge
## Nothing to configure - reuses the linked chain ID from Bridge deployment section

# Deployment Token Contract
TOKEN_DEPLOY_TOKEN_NAME=TestToken
TOKEN_DEPLOY_TOKEN_SYMBOL=TTC

# Native Bridge Setting
NATIVE_SET_TOKEN_FOR_NATIVE_BRIDGE=0x
NATIVE_SET_DECIMALS_ON_LINKED_CHAIN=18
NATIVE_SET_DEPOSIT_FEE=
NATIVE_SET_MIN_AMOUNT=
NATIVE_SET_MAX_AMOUNT=
NATIVE_SET_MAX_WITHDRAWALS=
NATIVE_SET_MAX_TOTAL_DEPOSITED=

# Token Bridge Setting
TOKEN_REGISTRATION_TOKEN_CONTRACT_HASH_ON_N3=0x
TOKEN_REGISTRATION_TOKEN_CONTRACT_HASH_ON_EVM=0x
TOKEN_REGISTRATION_DEPOSIT_FEE=
TOKEN_REGISTRATION_MIN_AMOUNT=
TOKEN_REGISTRATION_MAX_AMOUNT=
TOKEN_REGISTRATION_MAX_WITHDRAWALS=
TOKEN_REGISTRATION_DECIMAL_SCALING_FACTOR=

# Distinct Settings
SETTING_TOKEN_HASH=0x
NATIVE_DEPOSIT_FEE=5000000
TOKEN_DEPOSIT_FEE=5000000
MESSAGE_DEPOSIT_FEE=5000000

# Native Bridge Deposit
NATIVE_DEPOSIT_RECIPIENT_ON_EVM=0x
NATIVE_DEPOSIT_AMOUNT=

# Token Bridge Deposit
TOKEN_DEPOSIT_TOKEN_HASH=0x
TOKEN_DEPOSIT_RECIPIENT_ON_EVM=0x
TOKEN_DEPOSIT_AMOUNT=

# Token Transfer
TOKEN_TRANSFER_TOKEN_HASH=0x

# Message Bridge Sending Store-Only Message
MESSAGE_SEND_STORE_ONLY_MESSAGE=Hello World!

# Message Bridge Sending Executable Message
MESSAGE_SEND_EXECUTABLE_MESSAGE=
MESSAGE_SEND_EXECUTABLE_STORE_BOOL=true

# Message Bridge Executing/Reading Message Nonce
MESSAGE_NONCE=
