NEON3_JSON_RPC=http://127.0.0.1:40332

BRIDGE_HASH=
MANAGEMENT_HASH=

TOKEN_HASH=
TOKEN_NAME=
TOKEN_SYMBOL=
NEOX_TOKEN_HASH=

NEON3_DEPLOYER_WALLET=wallets/deployer.json
NEON3_DEPLOYER_PASSWORD=
NEON3_OWNER_WALLET=wallets/owner.json
NEON3_OWNER_PASSWORD=

NEON3_RELAYER_ADDRESS=
NEON3_NR_VALIDATORS=            # Must be at least 2 and at most 7
NEON3_VALIDATOR_THRESHOLD=      # Must be at least 2 and at most the number of validators
NEON3_VALIDATOR1_PUBKEY=        # Add up to a total of 7 validator public keys. At least 2 are required.
NEON3_VALIDATOR2_PUBKEY=

NEON3_GOVERNOR_ADDRESS=
NEON3_SECURITYGUARD_ADDRESS=

NEON3_DEPOSIT_FEE=100000000               # 0.1
NEON3_MIN_DEPOSIT_AMOUNT=100000000        # 1
NEON3_MAX_DEPOSIT_AMOUNT=1000000000000    # 10k
NEON3_MAX_TOTAL_DEPOSITED=100000000000000 # 1M

NEON3_LINKED_CHAIN_ID=1
